// COLORS
$primary-color: #1b1e25;
$secondary-color: #32363d;
$tertiary-color: #717171;
$quaternary-color: #1c1c1e;
$quinary-color: #66696f;

$color-dark: #121212;
$color-light: #ffffff;

$button-inactive: #636882;
$button-active: #54a8e5;

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.4rem;
$spacing-lg: 2rem;
$spacing-xl: 4.5rem;

$font-xs: 0.75rem;
$font-sm: 0.9rem;
$font-md: 1.2rem;
$font-lg: 1.6rem;
$font-xl: 2rem;

$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;

$shadow-lg: 0 4px 20px rgba(0, 0, 0, 0.2);
